body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    background-color: #EDE4D0;
    color: #3E2723;
}

header {
    background-color: #5D4037;
    color: #FFC107;
    padding: 1em 0;
}

.nav-links a {
    color: #FFC107;
    text-decoration: none;
}

footer {
    background-color: #5D4037;
    color: #FFC107;
    text-align: center;
    padding: 1em 0;
}
